### Tax Leins by Tax Code:  Over 50% are within the Tax Code 1 compared to Tax Codes 2 and 4

In [59]:
import pandas as pd
import numpy as np
import seaborn as sns

In [60]:
nyc_volunteer = pd.read_csv('../data/_volunteer_created_datasets/nyc_tax_lien_sale_list_geocoded_b4v410.csv')

In [12]:
nyc_volunteer.isna().sum()

Month                   0
Cycle                   0
Borough                 0
Block                   0
Lot                     0
Tax Class Code          0
Building Class          1
Community Board       536
Council District      423
House Number         4240
Street Name           205
Zip Code             3221
Water Debt Only         0
Input-Address        4303
Match-Indicator      4303
Match-Type           9618
Output-Address       9618
Lon-Lat              9618
Line-ID              9618
Line-ID-Side         9618
State-Code           9618
County-Code          9618
Census-Tract-Code    9618
Census-Block-Code    9618
dtype: int64

### Below we see number of leins for Tax Codes 1, 2, and 4.

In [68]:
#n = nyc_volunteer.sum(nyc_volunteer["Tax Class Code"] == 1)
n1 = nyc_volunteer.loc[nyc_volunteer['Tax Class Code'] == 1, 'Tax Class Code'].count()
n2 = nyc_volunteer.loc[nyc_volunteer['Tax Class Code'] == 2, 'Tax Class Code'].count()
n4 = nyc_volunteer.loc[nyc_volunteer['Tax Class Code'] == 4, 'Tax Class Code'].count()
print("The number of Tax Leins for Tax Code area 1, 2 and 4 respectively are",n1, n2, n4)

The number of Tax Leins for Tax Code area 1, 2 and 4 respectively are 68809 27264 26824

### Over 50% of Tax Leins fell in the Tax Code 1 bracket

In [51]:
print("The percent of Tax Liens within the Tax Class Code 1 was","{:.2%}".format( (n1/ (n1+n2+n4))))

The percent of Tax Liens within the Tax Class Code 1 was 55.99%

### Started search for table correlations to associate acs data to tax leins and evictions

#### Searching for a cross-reference to correlate Tax Class Code with Evictions but the Census tract #'s aren't matching the census_tract_GEOID, with more time I would search for source of census_tract_GEOID and see if the Tract-code was referenced to create.

In [69]:
households = pd.read_csv('../data/processed/nyc_processed_2017_to_2019_20210225.csv')
acs = pd.read_csv('../data/acs/nyc_acs5-2018_census.csv')

nyc_acs_household = pd.merge(households, acs, left_on='census_tract_GEOID', right_on='GEOID', how='inner')
nyc_acs_household.head()

,census_tract_GEOID,total-households,total-renter-occupied-households,total-owner-occupied-households,total-owner-occupied-households-mortgage,median-gross-rent,median-household-income,median-property-value,median-monthly-housing-cost,pct-white,...,DP05_0080PE,DP05_0081E,DP05_0081PE,DP05_0082E,DP05_0082PE,DP05_0083E,DP05_0083PE,DP05_0084E,DP05_0084PE,GEOID
0,36085013204,1790,422,1368,798,1411,84866,493400,2396,95.4,...,1.2,0,0.0,10,0.2,19,0.4,0,0.0,36085013204
1,36085013800,2369,441,1928,1030,1185,82361,561100,2404,98.8,...,5.1,0,0.0,0,0.0,56,0.9,0,0.0,36085013800
2,36085014700,1341,241,1100,707,1220,84310,463800,2406,94.9,...,2.5,0,0.0,0,0.0,0,0.0,0,0.0,36085014700
3,36085019700,712,99,613,366,1384,98167,449800,2297,95.4,...,6.4,0,0.0,16,0.9,42,2.3,0,0.0,36085019700
4,36085020804,1988,179,1809,1270,1175,95417,602200,2820,92.6,...,4.0,0,0.0,85,1.4,86,1.5,17,0.3,36085020804